In [5]:
from pathos_config import *

# Query from Google Sheet

## Dimension google sheet

In [2]:
for i in range(len(dim_table_list_iccs)):
    sample_var1 = dim_table_list_iccs[i]
    sample_var2 = dim_table_list_iccs[i]
    print("Reference DataFrame: {}".format(sample_var1, sample_var2))
    vars()[sample_var2]= load_gsheet(dim_table_list_iccs[i], dim_table_list_iccs[i], sheet_id_iccs)

Reference DataFrame: pathos_cl_master_dim_mapping
Reference DataFrame: pathos_cl_master_time
Reference DataFrame: pathos_cl_master_time_new
Reference DataFrame: pathos_cl_master_prod_serv_cf7
Reference DataFrame: pathos_cl_master_prod_serv_cf8
Reference DataFrame: pathos_cl_master_prod_serv_20
Reference DataFrame: pathos_cl_master_prod_ver
Reference DataFrame: pathos_cl_master_channel
Reference DataFrame: pathos_cl_master_age
Reference DataFrame: pathos_cl_master_gender
Reference DataFrame: pathos_cl_master_income
Reference DataFrame: pathos_cl_master_occupation
Reference DataFrame: pathos_cl_master_education
Reference DataFrame: pathos_cl_master_country
Reference DataFrame: pathos_cl_master_personas

# load data from local system

In [14]:
# #RB_Final_File_Model_Processed = pd.read_excel('RB_Final_File_Model_Processed.xlsx')
# initial_data = pd.read_excel('RB_Final_File_Model_Processed.xlsx', sheet_name= "initial_data")
# from_ml_team = pd.read_excel('RB_Final_File_Model_Processed.xlsx', sheet_name= "from_ml_team")

In [ ]:
cf7 = pd.read_excel('cf7.xlsx')
cf7_verbatim = pd.read_excel('cf7verbatim.xlsx')

In [ ]:
cf8 = pd.read_excel('cf8.xlsx')
cf8_verbatim = pd.read_excel('cf8verbatim.xlsx')

In [6]:
cf20 = pd.read_excel('ICCS_CF2020.xlsx')

In [3]:
cf20['marketgroup'].isna().sum()

2

In [9]:
cf8.head(1)

NameError: name 'cf8' is not defined

In [7]:
cf20.head(2)

  respnum        id marketgroup province mainchannel wave quotagerange gender q4a q4b q4c q4d q5aa q5ab q5ac q5ad q5ae q5af q5ag q5ah q5ai q5bj q5bk q5bl q5bp q5bq q5br  q6b q6c q6d q6e q6f q6g q6j q6k q6l q8a1 q8a2 q8a4 q8a5 q8a6 q8a7 q8a8 q8a10 q8a11 q8b1 q8b2 q8b5 q8b6 q8c5 q8c6 q8d1 q8d5 q8e1 q8e2 q8e3 q8f1 q8f2 q8f3 q8f4 q8f5 q8f6 q8f8 q8g1 q8g2 q8g4 q8g8 q8g9 q8h1 q8h2 q8h3  q91 q92  q93  q94  q95  q96 q95other education occupation income                                        q21a
0       2  77182487          BC       BC           2    1        45_54      2   3   4   4   3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    2    2    3    4    2    3  NaN   3   3   3   2   3   3   3   3    2    2    2    3    2    2    3     3     3    3    3    3    2    2    2    2    2    2    3    2    3    2    2    3    3    3    3    1  NaN    2    2    2    2    2    2  NaN   2  NaN  NaN  NaN  NaN      NaN         2          4      1  I think if the wait time was not that long
1       3  77185762          BC       BC           4    1        25_34      1   3   3   3   2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    3    2    3    5    4    4  NaN   4   3   4   3   2   4   3   3    6    6    3    6    6    6    4     6     6    6    6    6    6    6    6    6    6    6    6    6    6    4    6    6    6    6    6    6  NaN    3    6    4    5    5    5  NaN   2  NaN  NaN  NaN  NaN      NaN         4          3      5            Easy to reach and quick response

In [6]:
cf8_verbatim.columns

Index(['serialid', 'surprised', 'happy', 'excited', 'sad', 'disgust', 'angry', 'fear', 'frustration', 'care', 'channel_satisfaction', 'communication', 'competence', 'convenience', 'ease_of_access', 'fairness', 'innovative', 'knowledge', 'outcome', 'positivity', 'respect', 'security', 'timeliness', 'trust', 'waiting_time', 'pos_score', 'neg_score', 'matched_positive_keywords', 'matched_negative_keywords', 'Services', 'Service_ID', 'Predicted Driver', 'Predicted Emotion'], dtype='object')

In [7]:
# #renaming locations
cf7['reg1'].replace(['PEEL', 'YORK'], ['Peel', 'York'], inplace=True)
# cf8_verbatim.jurisdiction.replace(['Region of Peel', 'Toronto'], ['Peel', 'City of Toronto'], inplace=True)

In [8]:
#delete useless column which creating trouble while concat
del cf7_verbatim['id']

# Pushing (All Dimension + Reference + RB_Final_File_Model_Processed) DATA to postgres

## Dimension tables

In [5]:
# Truncate
try:
    for i in dim_table_list_iccs:
        truncate_table(i, 'pathos_iccs_schema')
        print(i)
except:
    print('not available')

pathos_cl_master_dim_mapping
pathos_cl_master_time
pathos_cl_master_time_new
pathos_cl_master_prod_serv_cf7
pathos_cl_master_prod_serv_cf8
pathos_cl_master_prod_serv_20
pathos_cl_master_prod_ver
pathos_cl_master_channel
pathos_cl_master_age
pathos_cl_master_gender
pathos_cl_master_income
pathos_cl_master_occupation
pathos_cl_master_education
pathos_cl_master_country
pathos_cl_master_personas

In [6]:
# Pushing
for i, j in zip(range(len(dim_table_list_iccs)), dim_table_list_iccs):
    sample_var = dim_table_list_iccs[i]
    print(sample_var)
    push_table_pgres(df = vars()[sample_var],df_name = j, schema= 'pathos_iccs_schema')

pathos_cl_master_dim_mapping
pathos_cl_master_time
pathos_cl_master_time_new
pathos_cl_master_prod_serv_cf7
pathos_cl_master_prod_serv_cf8
pathos_cl_master_prod_serv_20
pathos_cl_master_prod_ver
pathos_cl_master_channel
pathos_cl_master_age
pathos_cl_master_gender
pathos_cl_master_income
pathos_cl_master_occupation
pathos_cl_master_education
pathos_cl_master_country
pathos_cl_master_personas

## Generic tables

In [9]:
connection = pg.connect('postgresql://aidatabases:Aidatabases#@65.1.96.15:5432/pathos_db')
engine = create_engine('postgresql://aidatabases:Aidatabases#@65.1.96.15:5432/pathos_db')

In [12]:
# engine.execute('TRUNCATE generic.rb_final_file_model_processed RESTART IDENTITY;')
# RB_Final_File_Model_Processed.to_sql('rb_final_file_model_processed', con=engine, index=False, if_exists= 'append', schema='generic')

In [13]:
try:
    truncate_table(table_name= 'cf7', schema = 'pathos_iccs_schema')
except:
    print("not available")

In [14]:
try:
    truncate_table(table_name= 'cf7_verbatim', schema = 'pathos_iccs_schema')
except:
    print("not available")

In [15]:
#engine.execute('TRUNCATE generic.initial_data RESTART IDENTITY;')
cf7.to_sql('cf7', con=engine, index=False, if_exists= 'append', schema='pathos_iccs_schema')
cf7_verbatim.to_sql('cf7_verbatim', con=engine, index=False, if_exists= 'append', schema='pathos_iccs_schema')

In [16]:
try:
    truncate_table(table_name= 'cf8', schema = 'pathos_iccs_schema')
except:
    print("not available")

not available

In [17]:
try:
    truncate_table(table_name= 'cf8_verbatim', schema = 'pathos_iccs_schema')
except:
    print("not available")

In [10]:
try:
    truncate_table(table_name= 'cf20', schema = 'pathos_iccs_schema')
except:
    print("not available")

not available

In [ ]:
#engine.execute('TRUNCATE generic.from_ml_team RESTART IDENTITY;')
cf8.to_sql('cf8', con=engine, index=False, if_exists= 'append', schema='pathos_iccs_schema')
cf8_verbatim.to_sql('cf8_verbatim', con=engine, index=False, if_exists= 'append', schema='pathos_iccs_schema')

In [10]:
cf20.to_sql('cf20', con=engine, index=False, if_exists= 'append', schema='pathos_iccs_schema')

In [ ]:
-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x